

/* Motivo_WEB_PC */
.bodyWeb
{
    position: relative;
    width: 1600px;
    height: 6957px;
    background: #FFFFFF;
}


/* Top*/
.container
{
    widows: 80px;
    width: 1600px;
    height:1000px;
    margin:auto;
    overflow:hidden;
}


.bitmap
{
    position: absolute;
    width:30%;
    height:30%;
    padding: 2px;
    left: 58.5%;
    right: -8.25%;
    top:11%;
    bottom:83.39%;
    background: #FFFFFF;

}
ul{
    margin:0;
    padding:0;
}

header li
{
  float:left;
  display:inline;
  padding: 0 5px 0 5px;
}

header #top
{
 
position: absolute;
height: 17px;
left: 8.88%;
right: 78.62%;
top: calc(50% - 17px/2 - 3412px);

font-family: Helvetica;
font-size: 15px;
line-height: 733%;
/* or 733% */

display: flex;
align-items: center;
letter-spacing: 5px;

color: rgb(0, 4, 7);

}    

header nav
{
    position: absolute;
    left: 65.19%;
    right: -0.69%;
    top: 0.75%;
    bottom: 98.92%;
    mix-blend-mode: normal;
    opacity: 0.8;
    
}

/* Showcase */
#showcase
{
 position: absolute;
 left: 2.56%;
 right: -2.56%;
 top: 0.04%;
 bottom: 85.67%; 
 mix-blend-mode: normal;
 opacity: 0.54;
 background:url('../Image/bg.png') no-repeat 0 -400px;
}

.button_1
{
    position: absolute;
    left: 14.25%;
    right: 75.81%;
    top: 40%;
    bottom: 91.25%;
    background: #000000;
    color:#ffffff;
    height:50px;
    width: 10%;
   
}

.button_2
{
    position: absolute;
    left: 26.69%;
    right: 60.38%;
    top: 40%;
    bottom: 91.25%;
    background: #000000; 
    color:#ffffff;
    height:50px;
    width: 10%;
}

.thenextrecruitment
{
    position: absolute;
    height: 10px;
    left: 11.06%;
    right: 41.5%;
    top:9%;
    
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    /* or 141% */
    
    letter-spacing: -0.3px;
    
    color: #000000;
}

/*discription*/
.discription
{
    position: absolute;
    left: 14.25%;
    right: 54.94%;
    top: 50%;
    bottom: 25.78%;
    
    border: 1px solid gray;
    background-color:white;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    }

/* Latest Jobs */
.Latestjobs
{
position: absolute;
height: 70px;
left: 12.94%;
right: 67.5%;
top:85%;

font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 90px;
/* or 180% */
color: #2B3247;

}
/* Motivo Job Post */
.MotivoJobPost
{
position: absolute;
height: 14px;
left: 12.94%;
right: 67.19%;
top:100%;

font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */
text-transform: uppercase;
color: #2B3247;

mix-blend-mode: normal;
opacity: 0.5;
}

/* btn */
.FindmoreBtn
{
position: absolute;
left: 80.94%;
right: 9.88%;
top:96%;
bottom: 83.3%;

mix-blend-mode: normal;
opacity: 10;
}


/* FullStack Developer */
.FullStackDeveloper
{
position: absolute;
height: 29px;
left: 12.94%;
right: 68.81%;
top:110%;

font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 29px;
/* identical to box height */
color: #2B3247;
}

 /* Line 5 */
.line5
{
position: absolute;
left: 12.94%;
right: 88.41%;
top: 105%;
bottom: 81.98%;

border: 3px solid #000000;
}

/* 6.000.000 - 8.000.00 */
.amount
{
position: absolute;
height: 21px;
left: 12.94%;
right: 73.81%;
top:113%;

font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* or 125% */
color: #000000;
mix-blend-mode: normal;
opacity: 0.6;
}

/* The candidate in thi */
.Candidate
{
position: absolute;
left: 12.94%;
right: 70.69%;
top: 118%;
bottom: 80.09%;

font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;
/* or 143% */
color: #000000;
mix-blend-mode: normal;
opacity: 0.6;
}

/* Rectangle 3 */
.RectanglePHP
{
position: absolute;
left: 12.94%;
right: 86.5%;
top: 128%;
bottom: 79.4%;

background: #2CA1F8;
mix-blend-mode: normal;
opacity: 0.8;
border-radius: 11px;
}

/* PHP */
.PHPtext
{
position: absolute;
height: 22px;
left: 14%;
right: 87.44%;
top:128.51%;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 22px;
/* identical to box height, or 183% */

display: flex;
align-items: center;
color: #FFFFFF;
}

.LarvelBtn
{
 /* Rectangle 3 Copy */
position: absolute;
left: 17%;
right: 82.25%;
top: 128%;
bottom: 79.4%;

background: #2CA1F8;
mix-blend-mode: normal;
opacity: 0.8;
border-radius: 11px;
}

/* Laravel */
.Larveltext
{
position: absolute;
height: 22px;
left: 17.6%;
right: 82.88%;
top: 128.51%;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 22px;
/* identical to box height, or 183% */

display: flex;
align-items: center;

color: #FFFFFF;

}