
body
{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;

}

/* Global */
.container1
{
    width:100%;
    margin:auto;
    overflow:hidden;
   
}


.bitmap
{
    width:20%;
    height:20%;
    padding: 2px;
    margin-top: 8%;
    margin-right: 11%;
    float: left;

}
.bitmap img{
    border-radius: 50%;
}
ul{
    margin:0;
    padding:0;
}

header li
{
  float:left;
  display:inline;
  padding: 0 5px 0 5px;
}

header #top
{
font-family: Helvetica;
font-size: 15px;
line-height: 733%;
/* or 733% */

display: flex;
align-items: center;
letter-spacing: 5px;
margin-left: 11%;
width: 50%;
float: left;
color: rgb(0, 4, 7);

}    

header nav
{
    mix-blend-mode: normal;
    opacity: 0.8;
    float: right;
    margin-top: 2%;
    
}

/* Showcase */
.showcase
{

 width:100%;
 height: 1000px;
 mix-blend-mode: normal;
 padding-top: 3%;
 background-image: url('../Image/bg.png');
}

.button_1
{
    background: #000000;
    color:#ffffff;
    height:50px;
    margin-top: 8%;
    font-size: 20px;
   border: 0;
}

.button_2
{
    background: #000000; 
    color:#ffffff;
    height:50px;
    margin-top: 8%;
    font-size: 20px;
    border: 0;
}

.thenextrecruitment
{
   
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    line-height: 55px;

    /* or 141% */
    width: 45%;
    color: #000000;
    float: left;
    margin-top: 10%;
    margin-left: 11%;   
    letter-spacing: -0.3px;    
}

/*discription*/
.discription
{
    border: 1px solid white;
    background-color:white;
    padding-top: 30px;
    padding-right: 60px;
    padding-bottom: 20px;
    padding-left: 80px;
    mix-blend-mode: normal;
    float: left;
    width: 34%;
    margin-left: 11%;
    margin-top:14%;
    }

/* Latest Jobs */
.Latestjobs
{
font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 90px;
/* or 180% */
margin-top:5%;
margin-left: 9%;
color: #2B3247;

}
/* Motivo Job Post */
.MotivoJobPost
{
font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */

margin-top:0.5%;
margin-left: 9%;
text-transform: uppercase;
color: #2B3247;

mix-blend-mode: normal;
opacity: 0.5;
}

/* btn */
.FindmoreBtn
{
mix-blend-mode: normal;
opacity: 10;
margin-top:-2%;
float: right;
margin-right: 3%;
}


 /* Line 5 */
.line5
{
position: absolute;
left: 12.94%;
right: 88.41%;
top: 105%;
bottom: 81.98%;

border: 3px solid #000000;
}


.phpbtn
{
    height:22px;
    border:0;
    padding-left:12px;
    padding-right:12px;
    background:url("../Image/Rectangle\ 3\ Copy\ 2.png");
    color:#ffffff;
    
}

.laravelbtn
{
    height:22px;
    border:0;
    padding-left:3px;
    padding-right:3px;
    background:url("../Image/Rectangle\ 3\ Copy\ 2.png");
    color:#ffffff;
}

.awsbtn
{
    height:22px;
    border:0;
    padding-left:11px;
    padding-right:11px;
    background:url("../Image/Rectangle\ 3\ Copy\ 2.png");
    color:#ffffff;
}

.FullStackDeveloper
{
    margin-top: 5%;
    mix-blend-mode: normal;
    opacity: 0.9;
    margin-left:6%;
    width:80%;
}

.indicate
{
 margin-top:20%;
 margin:0;
 text-align: center;
}

.divline
{
position: absolute;
left: 4.75%;
right: -4.94%;
top: 183%;
mix-blend-mode: normal;
opacity: 0.4;
border: 0px solid #979797;
}

.aboutUs
{
    margin-left: 6%;
    margin-top:8%;
}

.motivoPrivate
{

font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 22px;
/* or 157% */


color: #000000;

mix-blend-mode: normal;
opacity: 0.6; 
}

.Logomoto
{
 /* logo_motivo */
position: absolute;
left: 62.94%;
right: 12.06%;
top: 193%;
width:50px ;
height:50px;

}

.readmorebtn
{
    position: absolute;
    left: 13.25%;
    right: 82.12%;
    top: 250%;
    
    mix-blend-mode: normal;
    opacity: 0.9;
}

.whychoseMoti
{
 /* Why they choose Moti */
position: absolute;
height: 70px;
left: 28.75%;
right: 23.31%;
top:290%;

font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 90px;
/* or 180% */

display: flex;
align-items: center;
text-align: center;

color: #2B3247;

}

.Candidates
{
 /* Candidates */
position: absolute;
height: 100px;
left: 50.19%;
right: 33.88%;
top:302%;

font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 100px;
/* identical to box height, or 333% */

text-transform: uppercase;

color: #8C93AA;

mix-blend-mode: normal;
opacity: 0.2;
}

.training
{
 /* 01 */
position: absolute;
height: 44px;
left: 8.69%;
right: 3.56%;
top: 335%;
}

.teaminclude
{
    
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #000000;
    
    mix-blend-mode: normal;
    opacity: 0.5;
}
 /* Blog-1*/
.blog1
{
    position: relative;
    height:801px;
    width: 808px;
    left: 7.12%;
    right: 25.38%;
    top: 425%;

}

 /* Blog-2 */
.blog2
{
position: relative;
height: 796px;
width: 470px;
left: 63.19%;
right: 2.44%;
top: 319%;

}

/* Object-1png */
.blog3-bg
{
position: absolute;
width: 470px;
height: 480px;
left: 7.12%;
right: 25.38%;
top: 580%;
}

.blog4
{
position: absolute;
width:808px;
height:814px;
left: 43.06%;
right: 7.44%;
top: 580%;
}

/* contact */
.Contactcontainer
{
position: relative;
left: 9.94%;
right: 10%;
top:490%;

}

/* contactform*/
.Contactform
{
position: absolute;
width:700px;
height: 150px;
left: 100%;
right: 5%;
top: 10%;

}

.Mapposition
{
    position: absolute;
    left: 1.25%;
    right: 0%;
    top:302%;
}

.Linetype_6
{ 
position:absolute;
left: 46.75%;
right: 65%;
top:20%;
box-sizing: border-box;
}

.thinking
{
  /* If you are thinking */
position: absolute;
height: 75px;
left: 1%;
right: 20.69%;
top:79%;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 25px;
/* or 156% */

text-align: justify;

color: #8C93AA;
}

.googleImage
{
position: absolute;
left: 0%;
right: 50.25%;
top:95%;
bottom: 40.91%;

mix-blend-mode: normal;
opacity: 0.9;
}

/* by Fabian Mezarina */
.FibanMezarina
{
position: absolute;
height: 50px;
left: 40.75%;
right: 8.88%;
top: 95%;

font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 50px;
/* identical to box height, or 250% */

display: flex;
align-items: center;
text-align: justify;

color: #8C93AA;
}

/* Motivo HeadQuarters */
.motoHead
{
position: absolute;
height: 192px;
left: 1.94%;
right: 60.62%;
top: 10%;

font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 60px;
/* or 120% */


color: #2B3247;

}

/* Seek for where we ar */
.seekfor
{
  
position: absolute;
height: 14px;
left: 1.19%;
right: 60.69%;
top: 70%;

font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */

text-transform: uppercase;

color: #2B3247;

mix-blend-mode: normal;
opacity: 0.5;
}

/* Line 4 */
.line4
{
position: absolute;
left: 1.25%;
right: 86.62%;
top: 110%;

}

/* Meguro-ku, Tokyo Nak */
.Meguro-ku
{
position: absolute;
left: 1.25%;
right: 10.88%;
top: 124%;

font-family: SanFranciscoDisplay;
font-size: 26px;
line-height: 36px;
/* or 138% */

color: #313541;
}

.informationFinal
{
    position: absolute;
    height: 175.62px;
    left: 18.38%;
    right: 50.29%;
    top: 690%;
    
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 29px;
    /* or 242% */
    
    letter-spacing: 1px;
    
    color: #000000;
    
}

.partnerinfo
{
    position: absolute;
    left: 70.69%;
    right: 1%;
    top:690%;
    
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 29px;
    /* or 242% */
    
    letter-spacing: 1px;
    
    color: #000000;
 
}


.Inform
{
position: absolute;
height: 18.63px;
left: 19.38%;
right: 82.88%;
top: 670%;

font-family: Ubuntu;
font-style: bold;
font-weight: 500;
font-size: 24px;
line-height: 16px;
letter-spacing: 0.84px;
}

.partner
{
    position: absolute;
    height: 19px;
    left: 70.69%;
    right: 2.12%;
    top: 670%;
    
    font-family: Ubuntu;
    font-style: bold;
    font-weight: 500;
    font-size: 24px;
    line-height: 16px;
    letter-spacing: 0.84px;
    
    color: #000000;
}

 /* SUBSCRIBE */
.subscriber
{
position: absolute;
height: 18.63px;
left: 180%;
right: 2.48%;
top: 670%;

font-family: Ubuntu;
font-style: bold;
font-weight: 500;
font-size: 25px;
line-height: 16px;
letter-spacing: 0.84px;

color: #000000;
}

.inputfinal
{
position: absolute;
left: 159.94%;
right: -118.46%;
top: 700%;



    
}


